/.*                     export-ignore
/runtime/               export-ignore
/tests/                 export-ignore
/*.neon                 export-ignore
/*.xml                  export-ignore
/*.xsd                  export-ignore
/*.xml.dist             export-ignore
docker-compose.yml      export-ignore
Makefile                export-ignore
rector.php              export-ignore
