parameters:
	level: 9
	paths:
		- src
		- example
		- tests
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- identifiers:
		  - missingType.iterableValue
		  - missingType.generics
